In [57]:
import pandas as pd #used for data manipulation
import numpy as np #used for numerical analysis
from collections import Counter as c # return counts of number of classess
import matplotlib.pyplot as plt #used for data Visualization
import seaborn as sns #data visualization library
# import missingno as msno #finding missing values
from sklearn.metrics import accuracy_score, confusion_matrix#model performance
from sklearn.model_selection import train_test_split #splits data in random train and test array
from sklearn.preprocessing import LabelEncoder #encoding the levels of categorical features
from sklearn. linear_model import LogisticRegression #Classification ML algorithm
import pickle #Python object hierarchy is converted into a byte stream

In [58]:
data = pd.read_csv('chronickidneydisease.csv')

In [59]:
data.head()
data.tail()
data.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [60]:
# Dropping the 'id' column
data = data.drop(columns=['id'])

# Renaming columns
data.columns = [
    'age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar',
    'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
    'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
    'potassium', 'hemoglobin', 'packed_cell_volume', 'white_blood_cell_count',
    'red_blood_cell_count', 'hypertension', 'diabetes_mellitus',
    'coronary_artery_disease', 'appetite', 'pedal_edema', 'anemia', 'classification'
]

# Display the updated dataframe
data.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [61]:
# Understanding data types of each column
data_types = data.dtypes
print("Data Types:\n", data_types)

# Summary statistics for numeric features
numeric_summary = data.describe()
print("\nSummary Statistics for Numeric Features:\n", numeric_summary)

# Summary statistics for categorical features
categorical_summary = data.describe(include=['object'])
print("\nSummary Statistics for Categorical Features:\n", categorical_summary)

Data Types:
 age                        float64
blood_pressure             float64
specific_gravity           float64
albumin                    float64
sugar                      float64
red_blood_cells             object
pus_cell                    object
pus_cell_clumps             object
bacteria                    object
blood_glucose_random       float64
blood_urea                 float64
serum_creatinine           float64
sodium                     float64
potassium                  float64
hemoglobin                 float64
packed_cell_volume          object
white_blood_cell_count      object
red_blood_cell_count        object
hypertension                object
diabetes_mellitus           object
coronary_artery_disease     object
appetite                    object
pedal_edema                 object
anemia                      object
classification              object
dtype: object

Summary Statistics for Numeric Features:
               age  blood_pressure  specific_gravity     albumin       sugar  \
count  391.000000      388.000000        353.000000  354.000000  351.000000
mean    51.483376       76.469072          1.017408    1.016949    0.450142
std     17.169714       13.683637          0.005717    1.352679    1.099191
min      2.000000       50.000000          1.005000    0.000000    0.000000
25%     42.000000       70.000000          1.010000    0.000000    0.000000
50%     55.000000       80.000000          1.020000    0.000000    0.000000
75%     64.500000       80.000000          1.020000    2.000000    0.000000
max     90.000000      180.000000          1.025000    5.000000    5.000000

       blood_glucose_random  blood_urea  serum_creatinine      sodium  \
count            356.000000  381.000000        383.000000  313.000000
mean             148.036517   57.425722          3.072454  137.528754
std               79.281714   50.503006          5.741126   10.408752
min               22.000000    1.500000          0.400000    4.500000
25%               99.000000   27.000000          0.900000  135.000000
50%              121.000000   42.000000          1.300000  138.000000
75%              163.000000   66.000000          2.800000  142.000000
max              490.000000  391.000000         76.000000  163.000000

        potassium  hemoglobin
count  312.000000  348.000000
mean     4.627244   12.526437
std      3.193904    2.912587
min      2.500000    3.100000
25%      3.800000   10.300000
50%      4.400000   12.650000
75%      4.900000   15.000000
max     47.000000   17.800000

Summary Statistics for Categorical Features:
        red_blood_cells pus_cell pus_cell_clumps    bacteria  \
count              248      335             396         396
unique               2        2               2           2
top             normal   normal      notpresent  notpresent
freq               201      259             354         374

       packed_cell_volume white_blood_cell_count red_blood_cell_count  \
count                 330                    295                  270
unique                 44                     92                   49
top                    41                   9800                  5.2
freq                   21                     11                   18

       hypertension diabetes_mellitus coronary_artery_disease appetite  \
count           398               398                     398      399
unique            2                 5                       3        2
top              no                no                      no     good
freq            251               258                     362      317

       pedal_edema anemia classification
count          399    399            400
unique           2      2              3
top             no     no            ckd
freq           323    339            248

In [62]:
data["classification"]  = data["classification"].apply(lambda x:x.strip("\t "))
data["classification"].value_counts()

ckd       250
notckd    150
Name: classification, dtype: int64

In [63]:
# Checking unique values in the classification column
print("Unique values in 'classification' column:", data['classification'].unique())

# Mapping the 'classification' column to numerical values
# Assuming 'ckd' as 1 and 'notckd' as 0, and handling any other variations
data['classification'] = data['classification'].replace({
    'ckd': 1,
    'notckd': 0,
    'ckd\t': 1,  # handling any additional variations
    '\tckd': 1
})

# Verifying the mapping
print("Value counts for 'classification' column after mapping:")
print(data['classification'].value_counts())

# Display the dataframe to check the changes
data.head()

Unique values in 'classification' column: ['ckd' 'notckd']
Value counts for 'classification' column after mapping:
1    250
0    150
Name: classification, dtype: int64

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,1
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,1
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,1
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,1
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,1

In [64]:
# Identify all object type columns and store them in a set
catcols = set(data.select_dtypes(include=['object']).columns)

# Define the columns to remove from catcols (non-categorical columns)
non_categorical_columns = ['packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count']

# Remove the non-categorical columns from catcols
for col in non_categorical_columns:
    if col in catcols:
        catcols.remove(col)

# Display the corrected categorical columns
print("Corrected Categorical Columns:", catcols)

# Convert columns to appropriate types
for col in catcols:
    data[col] = data[col].astype('category')

# Display the updated dataframe and data types to confirm changes
print("\nUpdated Data Types:\n", data.dtypes)
print("\nUpdated Data:\n", data.head())

Corrected Categorical Columns: {'coronary_artery_disease', 'hypertension', 'diabetes_mellitus', 'appetite', 'bacteria', 'pus_cell_clumps', 'pedal_edema', 'red_blood_cells', 'anemia', 'pus_cell'}

Updated Data Types:
 age                         float64
blood_pressure              float64
specific_gravity            float64
albumin                     float64
sugar                       float64
red_blood_cells            category
pus_cell                   category
pus_cell_clumps            category
bacteria                   category
blood_glucose_random        float64
blood_urea                  float64
serum_creatinine            float64
sodium                      float64
potassium                   float64
hemoglobin                  float64
packed_cell_volume           object
white_blood_cell_count       object
red_blood_cell_count         object
hypertension               category
diabetes_mellitus          category
coronary_artery_disease    category
appetite                   category
pedal_edema                category
anemia                     category
classification                int64
dtype: object

Updated Data:
     age  blood_pressure  specific_gravity  albumin  sugar red_blood_cells  \
0  48.0            80.0             1.020      1.0    0.0             NaN
1   7.0            50.0             1.020      4.0    0.0             NaN
2  62.0            80.0             1.010      2.0    3.0          normal
3  48.0            70.0             1.005      4.0    0.0          normal
4  51.0            80.0             1.010      2.0    0.0          normal

   pus_cell pus_cell_clumps    bacteria  blood_glucose_random  ...  \
0    normal      notpresent  notpresent                 121.0  ...
1    normal      notpresent  notpresent                   NaN  ...
2    normal      notpresent  notpresent                 423.0  ...
3  abnormal         present  notpresent                 117.0  ...
4    normal      notpresent  notpresent                 106.0  ...

   packed_cell_volume  white_blood_cell_count  red_blood_cell_count  \
0                  44                    7800                   5.2
1                  38                    6000                   NaN
2                  31                    7500                   NaN
3                  32                    6700                   3.9
4                  35                    7300                   4.6

   hypertension  diabetes_mellitus coronary_artery_disease appetite  \
0           yes                yes                      no     good
1            no                 no                      no     good
2            no                yes                      no     poor
3           yes                 no                      no     poor
4            no                 no                      no     good

  pedal_edema anemia classification
0          no     no              1
1          no     no              1
2          no    yes              1
3         yes    yes              1
4          no     no              1

[5 rows x 25 columns]

In [65]:
print(catcols)

{'coronary_artery_disease', 'hypertension', 'diabetes_mellitus', 'appetite', 'bacteria', 'pus_cell_clumps', 'pedal_edema', 'red_blood_cells', 'anemia', 'pus_cell'}

In [66]:
# Identify all numerical columns
numcols = set(data.select_dtypes(include=['number']).columns)

# Define the columns to remove from numcols (non-numerical columns)
non_numerical_columns = ['specific_gravity', 'albumin', 'sugar']

# Remove the non-numerical columns from numcols
for col in non_numerical_columns:
    if col in numcols:
        numcols.remove(col)

# Print the continuous columns
print("Continuous (Numerical) Columns:", numcols)

Continuous (Numerical) Columns: {'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'classification', 'blood_pressure', 'age', 'hemoglobin', 'potassium'}

In [67]:
additional_continuous_columns = ['red_blood_cell_count', 'packed_cell_volume', 'white_blood_cell_count']
for col in additional_continuous_columns:
    numcols.add(col)

# Print the continuous columns
print("Continuous (Numerical) Columns:", numcols)

Continuous (Numerical) Columns: {'packed_cell_volume', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'red_blood_cell_count', 'sodium', 'classification', 'white_blood_cell_count', 'blood_pressure', 'age', 'hemoglobin', 'potassium'}

In [68]:
additional_categorical_columns = ['specific_gravity', 'albumin', 'sugar']
for col in additional_categorical_columns:
    catcols.add(col)

# Print the corrected lists of columns
print("Continuous (Numerical) Columns:", numcols)
print("Categorical Columns:", catcols)

Continuous (Numerical) Columns: {'packed_cell_volume', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'red_blood_cell_count', 'sodium', 'classification', 'white_blood_cell_count', 'blood_pressure', 'age', 'hemoglobin', 'potassium'}
Categorical Columns: {'coronary_artery_disease', 'hypertension', 'sugar', 'diabetes_mellitus', 'appetite', 'bacteria', 'pus_cell_clumps', 'pedal_edema', 'red_blood_cells', 'anemia', 'specific_gravity', 'albumin', 'pus_cell'}

In [69]:
data['diabetes_mellitus'] = data['diabetes_mellitus'].replace({' yes': 'yes', '\tyes': 'yes', '\tno': 'no'})
data['coronary_artery_disease'] = data['coronary_artery_disease'].replace({'\tno': 'no'})

In [70]:
c(data['coronary_artery_disease'])

Counter({'no': 364, 'yes': 34, nan: 2})

In [71]:
c(data['diabetes_mellitus'])

Counter({'yes': 137, 'no': 261, nan: 2})

In [72]:
data.isnull().any()

age                         True
blood_pressure              True
specific_gravity            True
albumin                     True
sugar                       True
red_blood_cells             True
pus_cell                    True
pus_cell_clumps             True
bacteria                    True
blood_glucose_random        True
blood_urea                  True
serum_creatinine            True
sodium                      True
potassium                   True
hemoglobin                  True
packed_cell_volume          True
white_blood_cell_count      True
red_blood_cell_count        True
hypertension                True
diabetes_mellitus           True
coronary_artery_disease     True
appetite                    True
pedal_edema                 True
anemia                      True
classification             False
dtype: bool

In [73]:
data.isnull().sum()

age                          9
blood_pressure              12
specific_gravity            47
albumin                     46
sugar                       49
red_blood_cells            152
pus_cell                    65
pus_cell_clumps              4
bacteria                     4
blood_glucose_random        44
blood_urea                  19
serum_creatinine            17
sodium                      87
potassium                   88
hemoglobin                  52
packed_cell_volume          70
white_blood_cell_count     105
red_blood_cell_count       130
hypertension                 2
diabetes_mellitus            2
coronary_artery_disease      2
appetite                     1
pedal_edema                  1
anemia                       1
classification               0
dtype: int64

In [74]:
data['packed_cell_volume'] = pd.to_numeric(data['packed_cell_volume'], errors='coerce')
data['white_blood_cell_count'] = pd.to_numeric(data['white_blood_cell_count'], errors='coerce')
data['red_blood_cell_count'] = pd.to_numeric(data['red_blood_cell_count'], errors='coerce')

In [75]:
# Fill null values with column means for numerical columns
numerical_columns = [
    'blood_glucose_random', 'blood_pressure', 'blood_urea', 'hemoglobin',
    'packed_cell_volume', 'potassium', 'red_blood_cell_count', 'serum_creatinine',
    'sodium', 'white_blood_cell_count'
]

for column in numerical_columns:
    data[column].fillna(data[column].mean(), inplace=True)

# Fill null values with the mode for categorical columns
categorical_columns = [
    'age', 'hypertension', 'pus_cell_clumps', 'appetite', 'albumin',
    'pus_cell', 'red_blood_cells', 'coronary_artery_disease', 'bacteria',
    'anemia', 'sugar', 'diabetes_mellitus', 'pedal_edema', 'specific_gravity'
]

for column in categorical_columns:
    data[column].fillna(data[column].mode()[0], inplace=True)

In [76]:
data.isnull().sum()

age                        0
blood_pressure             0
specific_gravity           0
albumin                    0
sugar                      0
red_blood_cells            0
pus_cell                   0
pus_cell_clumps            0
bacteria                   0
blood_glucose_random       0
blood_urea                 0
serum_creatinine           0
sodium                     0
potassium                  0
hemoglobin                 0
packed_cell_volume         0
white_blood_cell_count     0
red_blood_cell_count       0
hypertension               0
diabetes_mellitus          0
coronary_artery_disease    0
appetite                   0
pedal_edema                0
anemia                     0
classification             0
dtype: int64

In [77]:
from sklearn.preprocessing import LabelEncoder

# Apply label encoding on all the categorical columns
label_encoders = {}

for column in catcols:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])
    label_encoders[column] = le

# Display the first few rows of the updated dataframe
print(data.head())

    age  blood_pressure  specific_gravity  albumin  sugar  red_blood_cells  \
0  48.0            80.0                 3        1      0                1
1   7.0            50.0                 3        4      0                1
2  62.0            80.0                 1        2      3                1
3  48.0            70.0                 0        4      0                1
4  51.0            80.0                 1        2      0                1

   pus_cell  pus_cell_clumps  bacteria  blood_glucose_random  ...  \
0         1                0         0            121.000000  ...
1         1                0         0            148.036517  ...
2         1                0         0            423.000000  ...
3         0                1         0            117.000000  ...
4         1                0         0            106.000000  ...

   packed_cell_volume  white_blood_cell_count  red_blood_cell_count  \
0                44.0                  7800.0              5.200000
1                38.0                  6000.0              4.707435
2                31.0                  7500.0              4.707435
3                32.0                  6700.0              3.900000
4                35.0                  7300.0              4.600000

   hypertension  diabetes_mellitus  coronary_artery_disease  appetite  \
0             1                  1                        0         0
1             0                  0                        0         0
2             0                  1                        0         1
3             1                  0                        0         1
4             0                  0                        0         0

   pedal_edema  anemia  classification
0            0       0               1
1            0       0               1
2            0       1               1
3            1       1               1
4            0       0               1

[5 rows x 25 columns]

In [78]:
import pandas as pd

# Define the columns for the independent variables
selcols = [
    'red_blood_cells', 'pus_cell', 'blood_glucose_random', 'blood_urea',
    'pedal_edema', 'anemia', 'diabetes_mellitus', 'coronary_artery_disease'
]

# Define the target column
target_column = 'classification'

# Create the DataFrame for independent variables
X = pd.DataFrame(data, columns=selcols)

# Create the DataFrame for the dependent variable
y = pd.DataFrame(data, columns=[target_column])

# Display the shapes of the resulting datasets to confirm the split
print(X.shape)
print(y.shape)

(400, 8)
(400, 1)

In [79]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y,stratify=y, test_size=0.2, random_state=42)

# Display the shapes of the resulting datasets to confirm the split
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (320, 8)
X_test shape: (80, 8)
y_train shape: (320, 1)
y_test shape: (80, 1)

In [80]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=50,criterion='entropy',random_state=0)
rf.fit(X_train,y_train)

C:\Users\aninp\AppData\Local\Temp\ipykernel_7376\2648543575.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=0)

In [81]:
y_pred = rf.predict(X_test)


# Predict the target variable on the test set
y_pred = rf.predict(X_test)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

In [82]:
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

Accuracy: 0.95
Precision: 0.9791666666666666
Recall: 0.94
Confusion Matrix:
 [[29  1]
 [ 3 47]]
Classification Report:
               precision    recall  f1-score   support

           0       0.91      0.97      0.94        30
           1       0.98      0.94      0.96        50

    accuracy                           0.95        80
   macro avg       0.94      0.95      0.95        80
weighted avg       0.95      0.95      0.95        80